.AboutUs {
    padding: 50px;
}

.titleAbout {
    margin-bottom: 50px;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #FBDF0A;
    text-underline-offset: 10px;
}

.containerAbout {
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.imageLigth {
    width: 500px;
    height: 500px;
}

.textAbout {
    font-size: 20px;
    width: 600px;

}

/* .. */
.Contact {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.Text {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}