.footer {
    background-color: #252525;
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 75px;
    padding-top: 50px;
    padding-bottom: 25px;
}



.nav {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 15px;
    background-color: #252525;
    height: 76px;
    justify-content: center;
    align-items: center;
}


/* #FBDF0A */
.link {
    color: #fff;
    margin-right: 35px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
}





.link:hover {
    color: #FBDF0A;
    text-decoration: underline;
}

.active {
    color: #FBDF0A;
}

.containerBlog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    gap: 15px;
}

.networks:hover {
    fill: #FBDF0A;
}



.textBlog {
    width: 450px;
}

/* // */

.Contact {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    /* Зменшений розмір шрифту */
    color: #ddd;
}

.Text {
    margin: 2px 0;
    font-size: 15px;
    /* Ще менший розмір */
    color: #bbb;
}