:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  margin: 0;
  /* Видаляє зовнішні відступи */
  padding: 0;
  /* Видаляє внутрішні відступи */
  height: 100%;
  /* Забезпечує висоту на весь екран */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

button {
  margin: 0;
  /* Скидає відступи */
  padding: 0;
  /* Скидає внутрішні відступи */
  border: none;
  /* Видаляє рамки */
  background: none;
  /* Прибирає фон */
  color: inherit;
  /* Використовує колір тексту, успадкований від батьків */
  font: inherit;
  /* Використовує шрифт, успадкований від батьків */
  text-align: inherit;
  /* Вирівнювання тексту як у батьків */
  cursor: pointer;
  /* Додає вказівник миші для клікабельності */
}

body {
  margin: 0;
  /* Видаляє зовнішні відступи */
  padding: 0;
  /* Видаляє внутрішні відступи */
  height: 100%;
  /* Забезпечує висоту на весь екран */
}